header {
    background-color: gray;
    font-size: 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 20px;
    margin-left: 450px;
    margin-right: 450px;
    background-image: url(https://img.freepik.com/premium-photo/black-friday-concept-with-cart-space_23-2147709970.jpg?semt=ais_hybrid);
    
    
}
form {
    padding: 20px;
    
}
button {
    padding: 2px;
    background-color: rgb(69, 168, 230);
    cursor: pointer;
    border-radius: 5px;
    color: white;
    
}
button:hover {
    background-color:rgb(216, 175, 203);
}

#item-list li {
    padding: 10px;
    margin-bottom: 5px;
    background-color: rgb(216, 175, 203);
    border: 1px solid #dee2e6;
    border-radius: 4px;
    cursor: pointer;
}

  /* Style for purchased items */
  .purchased {
    text-decoration: line-through;
    color: gray;

    color: rgb(244, 228, 7);
  }
  input::placeholder {
    padding: 20px;          /* Placeholder text will be red */
    font-size: 14px;     /* Placeholder text will have a smaller font size */
    font-style: italic;
    size: 20px;  /* Placeholder text will be italic */
  }
  